<ul class="nav nav-tabs mt-2">
  <li class="nav-item">
    <a
      {{action "searchType" "mx"}}
      class="nav-link {{if (or (eq activeTab 'mx') (not activeTab)) 'active'}}"
      href="#"
    >
      MX
    </a>
  </li>
  <li class="nav-item">
    <a
      {{action "searchType" "blacklist"}}
      class="nav-link {{if (or (eq activeTab 'blacklist') (not activeTab)) 'active'}}"
      href="#"
      πq1
    >
      Blacklist
    </a>
  </li>
  {{!-- <li class="nav-item">
    <a
      {{action "searchType" "https"}}
      class="nav-link {{if (eq activeTab 'https') 'active'}}"
      href="#"
    >
      HTTPS
    </a>
  </li>
  <li class="nav-item">
    <a
      {{action "searchType" "http"}}
      class="nav-link {{if (eq activeTab 'http') 'active'}}"
      href="#"
    >
      HTTP
    </a>
  </li> --}}
</ul>

{{! mx tab }}
{{#if (eq activeTab "mx")}}
  <h1>
    {{fa-icon "info" fixedWidth=true}}
    MX Information
  </h1>
  <div class="info">
    {{#if searchInfo.MxRep}}
      <div>
        <span class="p-key"> MX Rep: </span>
        <span class="p-value">{{searchInfo.MxRep}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.EmailServiceProvider}}
      <div>
        <span class="p-key"> Email Service Provider: </span>
        <span class="p-value">{{searchInfo.EmailServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.DnsServiceProvider}}
      <div>
        <span class="p-key"> Dns Service Provider: </span>
        <span class="p-value">{{searchInfo.DnsServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.DnsServiceProviderIdentifier}}
      <div>
        <span class="p-key"> Dns Service Provider Identifier: </span>
        <span class="p-value">{{searchInfo.DnsServiceProviderIdentifier}}</span>
      </div>
    {{/if}}
  </div>

  <div class="toggle-header">
    <span class="p-action" {{action "togglePassedResults" "mx"}}>
      Passed Results
      {{fa-icon (if mxPassed "caret-up" "caret-down") fixedWidth=true}}
    </span>
  </div>

  {{#if mxPassed}}
    {{#if passedmx}}
      {{#each passedmx as |result|}}
        <div class="passed-details">
          {{#if result.Name}}
            <div>
              <span class="p-key"> Name: </span>
              <span class="p-value">{{result.Name}}</span>
            </div>
          {{/if}}
          {{#if result.Info}}
            <div>
              <span class="p-key"> Info: </span>
              <span class="p-value">{{result.Info}}</span>
            </div>
          {{/if}}
          {{#if result.Url}}
            <div>
              <span class="p-key"> URL: </span>
              <span class="p-value">{{result.Url}}</span>
            </div>
          {{/if}}
          {{#if result.PublicDescription}}
            <div>
              <span class="p-key"> PublicDescription: </span>
              <span class="p-value">{{result.PublicDescription}}</span>
            </div>
          {{/if}}
          {{#if result.IsExcludedByUser}}
            <div>
              <span class="p-key"> IsExcludedByUser: </span>
              <span class="p-value">{{result.IsExcludedByUser}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
  {{/if}}

  <div class="toggle-header">
    <span class="p-action" {{action "toggleFailedResults" "mx"}}>
      Failed Results
      {{fa-icon (if mxFailed "caret-up" "caret-down") fixedWidth=true}}
    </span>
  </div>
  {{#if mxFailed}}
    {{#if failedmx}}
      {{#each failedmx as |result|}}
        <div class="failed-details">
          {{#if result.Name}}
            <div>
              <span class="p-key"> Name: </span>
              <span class="p-value">{{result.Name}}</span>
            </div>
          {{/if}}
          {{#if result.Info}}
            <div>
              <span class="p-key"> Info: </span>
              <span class="p-value">{{result.Info}}</span>
            </div>
          {{/if}}
          {{#if result.Url}}
            <div>
              <span class="p-key"> Url: </span>
              <span class="p-value">{{result.Url}}</span>
            </div>
          {{/if}}
          {{#if result.PublicDescription}}
            <div>
              <span class="p-key"> PublicDescription: </span>
              <span class="p-value">{{result.PublicDescription}}</span>
            </div>
          {{/if}}
          {{#if result.IsExcludedByUser}}
            <div>
              <span class="p-key"> IsExcludedByUser: </span>
              <span class="p-value">{{result.IsExcludedByUser}}</span>
            </div>
          {{/if}}
          {{#if result.MxRep}}
            <div>
              <span class="p-key"> MX Rep: </span>
              <span class="p-value">{{result.MxRep}}</span>
            </div>
          {{/if}}
          {{#if result.EmailServiceProvider}}
            <div>
              <span class="p-key"> Email Service Provider: </span>
              <span class="p-value">{{result.EmailServiceProvider}}</span>
            </div>
          {{/if}}
          {{#if result.DnsServiceProvider}}
            <div>
              <span class="p-key"> Dns Service Provider: </span>
              <span class="p-value">{{result.DnsServiceProvider}}</span>
            </div>
          {{/if}}
          {{#if result.DnsServiceProviderIdentifier}}
            <div>
              <span class="p-key"> Dns Service Provider Identifier: </span>
              <span class="p-value">{{result.DnsServiceProviderIdentifier}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <span>No Failed Results</span>
    {{/if}}
  {{/if}}
{{/if}}
{{! end mx }}

{{! blacklist tab }}
{{#if (eq activeTab "blacklist")}}

  <div class="info">
    <h1 class="p-title">
      {{fa-icon "info" fixedWidth=true}}
      Blacklist Information
    </h1>
    {{#if searchInfo.MxRep}}
      <div>
        <span class="p-key"> MX Rep: </span>
        <span class="p-value">{{searchInfo.MxRep}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.EmailServiceProvider}}
      <div>
        <span class="p-key"> Email Service Provider: </span>
        <span class="p-value">{{searchInfo.EmailServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.DnsServiceProvider}}
      <div>
        <span class="p-key"> Dns Service Provider: </span>
        <span class="p-value">{{searchInfo.DnsServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if searchInfo.DnsServiceProviderIdentifier}}
      <div>
        <span class="p-key"> Dns Service Provider Identifier: </span>
        <span class="p-value">{{searchInfo.DnsServiceProviderIdentifier}}</span>
      </div>
    {{/if}}
  </div>

  <div class="toggle-header">
    <span class="p-action" {{action "togglePassedResults" "blacklist"}}>
      Passed Results
      {{fa-icon (if blacklistPassed "caret-up" "caret-down") fixedWidth=true}}
    </span>
  </div>

  {{#if blacklistPassed}}
    {{#if passedblacklist}}
      {{#each passedblacklist as |result|}}
        <div class="passed-details">
          {{#if result.Name}}
            <div>
              <span class="p-key"> Name: </span>
              <span class="p-value">{{result.Name}}</span>
            </div>
          {{/if}}
          {{#if result.Info}}
            <div>
              <span class="p-key"> Info: </span>
              <span class="p-value">{{result.Info}}</span>
            </div>
          {{/if}}
          {{#if result.Url}}
            <div>
              <span class="p-key"> URL: </span>
              <span class="p-value">{{result.Url}}</span>
            </div>
          {{/if}}
          {{#if result.PublicDescription}}
            <div>
              <span class="p-key"> PublicDescription: </span>
              <span class="p-value">{{result.PublicDescription}}</span>
            </div>
          {{/if}}
          {{#if result.IsExcludedByUser}}
            <div>
              <span class="p-key"> IsExcludedByUser: </span>
              <span class="p-value">{{result.IsExcludedByUser}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <span>No Failed Results</span>
    {{/if}}
  {{/if}}

  <div class="toggle-header">
    <span class="p-action" {{action "toggleFailedResults" "mx"}}>
      Failed Results
      {{fa-icon (if mxFailed "caret-up" "caret-down") fixedWidth=true}}
    </span>
  </div>

  {{#if mxFailed}}
    {{#if failedmx}}
      {{#each failedmx as |result|}}
        <div class="failed-details">
          {{#if result.Name}}
            <div>
              <span class="p-key"> Name: </span>
              <span class="p-value">{{result.Name}}</span>
            </div>
          {{/if}}
          {{#if result.Info}}
            <div>
              <span class="p-key"> Info: </span>
              <span class="p-value">{{result.Info}}</span>
            </div>
          {{/if}}
          {{#if result.Url}}
            <div>
              <span class="p-key"> Url: </span>
              <span class="p-value">{{result.Url}}</span>
            </div>
          {{/if}}
          {{#if result.PublicDescription}}
            <div>
              <span class="p-key"> PublicDescription: </span>
              <span class="p-value">{{result.PublicDescription}}</span>
            </div>
          {{/if}}
          {{#if result.IsExcludedByUser}}
            <div>
              <span class="p-key"> IsExcludedByUser: </span>
              <span class="p-value">{{result.IsExcludedByUser}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <span>No Failed Results</span>
    {{/if}}
  {{/if}}
{{/if}}
{{! end blacklist }}