<ul class="nav nav-tabs mt-2">
  {{#if details.mx}}
    <li class="nav-item">
      <a
        {{action "changeTab" "mx"}}
        class="nav-link {{if (or (eq activeTab 'mx') (not activeTab)) 'active'}}"
        href="#"
      >
        MX
      </a>
    </li>
  {{/if}}
  {{#if details.blacklist}}
    <li class="nav-item">
      <a
        {{action "changeTab" "blacklist"}}
        class="nav-link {{if (or (eq activeTab 'blacklist') (not activeTab)) 'active'}}"
        href="#"
      >
        Blacklist
      </a>
    </li>
  {{/if}}
  {{#if details.https}}
    <li class="nav-item">
      <a
        {{action "changeTab" "https"}}
        class="nav-link {{if (eq activeTab 'https') 'active'}}"
        href="#"
      >
        HTTPS
      </a>
    </li>
  {{/if}}
  {{#if details.http}}
    <li class="nav-item">
      <a
        {{action "changeTab" "http"}}
        class="nav-link {{if (eq activeTab 'http') 'active'}}"
        href="#"
      >
        HTTP
      </a>
    </li>
  {{/if}}
</ul>

{{#if
  (or
    currentDisplayedData.MxRep
    currentDisplayedData.EmailServiceProvider
    currentDisplayedData.DnsServiceProvider
    currentDisplayedData.DnsServiceProviderIdentifier
  )
}}
  <h1 class="p-title">
    {{fa-icon "info" fixedWidth=true}}
    Provider Info
  </h1>
  <div class="info">
    {{#if currentDisplayedData.MxRep}}
      <div>
        <span class="p-key"> MX Rep: </span>
        <span class="p-value">{{currentDisplayedData.MxRep}}</span>
      </div>
    {{/if}}
    {{#if currentDisplayedData.EmailServiceProvider}}
      <div>
        <span class="p-key"> Email Service Provider: </span>
        <span class="p-value">{{currentDisplayedData.EmailServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if currentDisplayedData.DnsServiceProvider}}
      <div>
        <span class="p-key"> DNS Service Provider: </span>
        <span class="p-value">{{currentDisplayedData.DnsServiceProvider}}</span>
      </div>
    {{/if}}
    {{#if currentDisplayedData.DnsServiceProviderIdentifier}}
      <div>
        <span class="p-key"> DNS Service Provider Identifier: </span>
        <span class="p-value">{{currentDisplayedData.DnsServiceProviderIdentifier}}</span>
      </div>
    {{/if}}
  </div>
{{/if}}

<div class="toggle-header">
  <span class="p-action" {{action "togglePassedResults" "passed"}}>
    Passed Results
    {{fa-icon (if passed "caret-up" "caret-down") fixedWidth=true}}
  </span>
</div>

{{#if passed}}
  {{#if currentDisplayedData.Passed.length}}
    {{#each currentDisplayedData.Passed as |result|}}
      <div class="passed-details">
        {{#if result.Name}}
          <div>
            <span class="p-key"> Name: </span>
            <span class="p-value">{{result.Name}}</span>
          </div>
        {{/if}}
        {{#if result.Info}}
          <div>
            <span class="p-key"> Info: </span>
            <span class="p-value">{{result.Info}}</span>
          </div>
        {{/if}}
        {{#if result.Url}}
          <div>
            <span class="p-key"> URL: </span>
            <span class="p-value">{{result.Url}}</span>
          </div>
        {{/if}}
        {{#if result.PublicDescription}}
          <div>
            <span class="p-key"> PublicDescription: </span>
            <span class="p-value">{{result.PublicDescription}}</span>
          </div>
        {{/if}}
        {{#if result.IsExcludedByUser}}
          <div>
            <span class="p-key"> IsExcludedByUser: </span>
            <span class="p-value">{{result.IsExcludedByUser}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    <span> No Passed Results</span>
  {{/if}}
{{/if}}

<div class="toggle-header">
  <span class="p-action" {{action "toggleFailedResults" "failed"}}>
    Failed Results
    {{fa-icon (if failed "caret-up" "caret-down") fixedWidth=true}}
  </span>
</div>

{{#if failed}}
  {{#if currentDisplayedData.Failed.length}}
    {{#each currentDisplayedData.Failed as |result|}}
      <div class="failed-details">
        {{#if result.Name}}
          <div>
            <span class="p-key"> Name: </span>
            <span class="p-value">{{result.Name}}</span>
          </div>
        {{/if}}
        {{#if result.Info}}
          <div>
            <span class="p-key"> Info: </span>
            <span class="p-value">{{result.Info}}</span>
          </div>
        {{/if}}
        {{#if result.Url}}
          <div>
            <span class="p-key"> Url: </span>
            <span class="p-value">{{result.Url}}</span>
          </div>
        {{/if}}
        {{#if result.PublicDescription}}
          <div>
            <span class="p-key"> PublicDescription: </span>
            <span class="p-value">{{result.PublicDescription}}</span>
          </div>
        {{/if}}
        {{#if result.IsExcludedByUser}}
          <div>
            <span class="p-key"> IsExcludedByUser: </span>
            <span class="p-value">{{result.IsExcludedByUser}}</span>
          </div>
        {{/if}}
        {{#if result.MxRep}}
          <div>
            <span class="p-key"> MX Rep: </span>
            <span class="p-value">{{result.MxRep}}</span>
          </div>
        {{/if}}
        {{#if result.EmailServiceProvider}}
          <div>
            <span class="p-key"> Email Service Provider: </span>
            <span class="p-value">{{result.EmailServiceProvider}}</span>
          </div>
        {{/if}}
        {{#if result.DnsServiceProvider}}
          <div>
            <span class="p-key"> Dns Service Provider: </span>
            <span class="p-value">{{result.DnsServiceProvider}}</span>
          </div>
        {{/if}}
        {{#if result.DnsServiceProviderIdentifier}}
          <div>
            <span class="p-key"> Dns Service Provider Identifier: </span>
            <span class="p-value">{{result.DnsServiceProviderIdentifier}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    <span>No Failed Results</span>
  {{/if}}
{{/if}}

{{! QUOTA }}
<div class="quota-header">
  <span class="p-action" {{action "getQuota"}}>
    Remaining Daily Requests
    {{fa-icon (if viewQuota "caret-up" "caret-down") fixedWidth=true}}
  </span>
</div>
{{#if viewQuota}}
  <div>
    <span class="p-key"> DNS Request: </span>
    <span class="p-value">{{quota.DnsRequests}}</span>
  </div>
  <div>
    <span class="p-key"> DNS Max: </span>
    <span class="p-value">{{quota.DnsMax}}</span>
  </div>
  <div>
    <span class="p-key"> DNS Max: </span>
    <span class="p-value">{{quota.DnsOverageErrors}}</span>
  </div>
  <div>
    <span class="p-key"> Network Requests: </span>
    <span class="p-value">{{quota.NetworkRequests}}</span>
  </div>
  <div>
    <span class="p-key"> Network Requests: </span>
    <span class="p-value">{{quota.NetworkMax}}</span>
  </div>
  <div>
    <span class="p-key"> Network Requests: </span>
    <span class="p-value">{{quota.NetworkOverageEr}}</span>
  </div>
{{/if}}
{{! END QUOTA}}